.section-form-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 45%;
}

.black-color {
  color: #000
}

form {
  display: flex;
  flex-direction: column;
}

.form-register {
  margin-top: 100px;
}

button {
  width: 450px;
}

button:hover {
  background: linear-gradient(270deg, #FB6564 0%, #A03CEA 100%);
  border-radius: 8px;
  transform: scale(1.1);
  transition: 1s;
}

.validators {
  color: #ff0000
}

.name-input {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}

.link-page-back, .link-page {
  text-decoration: underline;
  cursor: pointer;
}

.remember-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-input {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}
